.movies {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movieSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #222;
  row-gap: 6px;
}

.movieSection > li {
  grid-column: span 4;
}

@media (max-width: 900px) {
  .movieSection > li {
    grid-column: span 6;
  }
}

@media (max-width: 600px) {
  .movieSection > li {
    grid-column: span 12;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.loadingSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: #222;
}

.loadingSection > * {
  aspect-ratio: 2 / 3;
  background: linear-gradient(90deg, #ccc 25%, #ddd 50%, #ccc 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  grid-column: span 4;
}

@media (max-width: 900px) {
  .loadingSection > * {
    grid-column: span 6;
  }
}

@media (max-width: 600px) {
  .loadingSection > * {
    grid-column: span 12;
  }
}

.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--main-accent);
}

.buttonNext {
  margin-left: auto;
}

.buttons {
  display: flex;
  padding: 10px;
}
